<h2 id="assignment">Assignment</h2>
<p>
	To create a story, I had to have a Protaganist and a media to communicate
	the story through. So I created both.
</p>

<h2 id="approach">Approach</h2>
<p>
	To start off, I created a protaganist to base my story on and create a
	bigger story around it. After this, I created a media that would fit this
	story and the way I wanted to communicate it.
</p>

<h2 id="execution">Execution</h2>
<p>
	As stated in the approach, I started with making a protaganist based on
	world I described inside of the <a href="../pecha-kucha">Pecha Kucha</a> I
	created. After the received feedback, I created a more detailed protaganist
	to communicate the story. This, first, description and it's details can be
	found within the
	<a
		href="https://docs.google.com/document/d/1KYrqTk11DKIFVDG4T2ooURqQQKKSkfE8KrPdcDPv0Eo/"
		target="_blank"
		>document</a
	>.
</p>

<a
	href="https://docs.google.com/document/d/1KYrqTk11DKIFVDG4T2ooURqQQKKSkfE8KrPdcDPv0Eo/"
	target="_blank"
	class="image"
>
	<img
		src="https://i.gyazo.com/3fe90cff72c271edc887c80524a2dc45.jpg"
		alt="The first page of the Protaganist"
	/>
</a>

<p>
	After creating a protaganist, I started working on the media where this
	story would later be told. I quiet quickly came to an interactive dairy in
	which the reader could go through the book and even make choices for the
	character. It would later become clear that the character would become you,
	with it's name being yours.
</p>

<p>
	The creation of the media was some work, but I made it work in the end. It
	represents and actual book and should feel like one when browsing through
	your story. The story can be found on this
	<a href="https://story-creation.maxaltena.com/" target="_blank">website</a>
	to be browsered with all it's glory.
</p>

<iframe
	src="https://story-creation.maxaltena.com/"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<h2 id="reflection">Reflection</h2>
<p>
	Make and thinking of a story and/or protaganist was harder than I initially
	thought. It took much more imagination and logic to piece together a
	character with their emotions to connect to the reader. In addition, not
	having the input from other students all the time was not ideal to say the
	least.
</p>

<h2 id="learning-outcomes">Learning outcomes</h2>
<p>
	Creating the story and the media it is depicted on was an experience itself
	and is an experience for the reader as well. It is different than your
	average and standard media known as a book or magazine.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>I created Detoxers all by myself.</p>
