<h2>Items</h2>
<ul class="table-of-items">
	<li>
		<a routerLink="/media-theory/a-day-without-my-phone"
			>A day without my phone</a
		>
	</li>
	<li>
		<a routerLink="/media-theory/social-analysis" class="strike-through"
			>Social Analysis</a
		>
	</li>
	<li>
		<a routerLink="/media-theory/my-ai-friend" class="strike-through"
			>My AI Friend</a
		>
	</li>
</ul>

<mat-divider class="margin-y"></mat-divider>

<h2>About Media Theory</h2>
<p>
	During the Media Theory courses the way how media has evolved over time will
	be explored and how this affects us (as consumers and producers of media),
	the media themselves, the design of media, and how this all affects our
	behaviour.
</p>
