<header></header>

<main>
	<div class="margin-x">
		<div class="container">
			<div class="top">
				<h1>Media Theory</h1>
				<div class="chip-list">
					<mat-chip-list>
						<mat-chip color="primary" selected
							>Media Theory</mat-chip
						>
						<mat-chip>Subject</mat-chip>
					</mat-chip-list>
				</div>
			</div>

			<div class="content">
				<h2>// TODO</h2>
				<ul>
					<li>
						<a routerLink="/media-theory/a-day-without-my-phone"
							>A day without my phone</a
						>
					</li>
					<li>
						<a routerLink="/media-theory/social-analysis"
							>Social Analysis</a
						>
					</li>
					<li>
						<a routerLink="/media-theory/my-ai-friend"
							>My AI Friend</a
						>
					</li>
				</ul>

				<h2>About Media Theory</h2>
				<p>
					During the Media Theory courses the way how media has
					evolved over time will be explored and how this affects us
					(as consumers and producers of media), the media themselves,
					the design of media, and how this all affects our behaviour.
				</p>
			</div>

			<div class="bottom"></div>
		</div>
	</div>
</main>

<footer></footer>
