<h2 id="toc">Table of Contents</h2>
<ol class="table-of-contents">
	<li>
		<a routerLink="." fragment="assignment">Assignment</a>
	</li>
	<li>
		<a routerLink="." fragment="approach">Approach</a>
	</li>
	<li>
		<a routerLink="." fragment="execution">Execution</a>
	</li>
	<li>
		<a routerLink="." fragment="reflection">Reflection</a>
	</li>
	<li>
		<a routerLink="." fragment="responsibility">Responsibility</a>
	</li>
</ol>

<mat-divider class="margin-y"></mat-divider>

<h2 id="assignment">Assignment</h2>
<p>
	Look for famous and less famous manifestos. Create a personal manifesto.
	Write a set of statements, rules or a more essay-like piece about your
	opinion on the worlds's big theme's: economics, politics, culture, society,
	esthetics etc. Try to formulate them very specifically. Design the manifesto
	in a way that suits it's content.
</p>

<h2 id="approach">Approach</h2>
<p>
	To create a personal manifesto, I first needed to know which values and
	themes should be included in it. From the
	<a routerLink="../critical-problems">critical problems</a> I can and will
	make values that are important to me after which I will find a suitable form
	for it to be personal to me.
</p>

<h2 id="execution">Execution</h2>
<p>
	I created
	<a
		href="https://docs.google.com/document/d/1di9WuhCK3fgbKx1PwPZRGxNqRDGJs1NjpVFoTSOFK_E/"
		target="_blank"
		>a list of values</a
	>
	to be included inside of the personal manifesto. Through brainstorming with
	<a href="https://portfolio-s7.netlify.app/" target="_blank">Mike Hendriks</a
	>, I settled down for a form of the manifesto. It would become a
	<code>manifest.json</code> file in which I put my values inside of. The
	<a routerLink="../personal-manifesto-website/">end result</a>
	is great and very personal to me. It took some time to build the manifest
	itself, but it payed of in the end I think. The feedback received from the
	class was very positive and had no points of improvement.
</p>

<iframe
	src="https://maxaltena.com/manifest.json/"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<h2 id="reflection">Reflection</h2>
<p>
	I found this assignment to be eye opening of some sorts. I never thought
	about actual values that I adhere to. So this is confronting at a level
	which I reflect on how I interact with the world.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>
	I created the personal manifesto myself. Thanks
	<a href="https://portfolio-s7.netlify.app/" target="_blank"
		>Mike Hendriks</a
	>
	for the cool <code>manifest.json</code> idea!
</p>
