<p>
	A group of Fontys students has been tasked with designing a solution for
	Additive Industries’ wish to allow users to monitor their 3D printers
	remotely. Additive Industries builds industrial 3D printers, of which the
	most popular option is to print metal parts.
</p>
<p>
	Additive Industries has expressed its wishes for a solution to be designed
	that would allow operators of the printer to be able to do more tasks
	remotely, such as monitoring one or multiple printers, or queue new print
	jobs, all while taking into account that a company might own multiple
	printers.
</p>

<h2 id="execution">Execution</h2>

<h3>Design Challenge</h3>
<p>
	To make it clear for everyone what we were desgining, for who etc. We
	created a Design Challenge and updated it accordingly any time we saw fit to
	do so. The history and iterations of the Design Challenge can be found
	<a
		href="https://docs.google.com/document/d/1SkYT7lbew-ovYBbUZP6QwENgd-tzowd4zHKAbEHm9Zg/"
		target="_blank"
		>here</a
	>.
</p>

<h3>Project Plan</h3>
<p>
	At the start of the project, we created a project plan to give us and
	Additive Industries a clear overview of what we were planning on doing. As a
	group, we made a project plan to do so. I created parts of the research for
	the project plan which can be found here inside the
	<a
		href="https://drive.google.com/file/d/1LGDXhXh32J7JI9C_HsgenRgVCCD8Dxim/"
		target="_blank"
		>document</a
	>.
</p>
<p>
	The creation of the project plan was not very special, it was simply a chore
	in that way. Yet we did not slack our way to complete the document.
</p>

<h3>2D Print House Interview</h3>
<p>
	As described within it's own little place
	<a href="../../human-centered-design/print-house-interview">here</a>, I did
	an interview with my dad about the current way of working at the print house
	he works at. This reseach was solely done by me to gather insights which
	could be used for the ideation phase of the human centered design design
	thinking.
</p>

<h3>Stakeholder Profiles</h3>
<p>
	As we came closer to the ideation phase, we still needed users to design for
	and as we did not have them clear, we did not really know who we were
	desiging for. As such, Aleksandar and me created
	<a href="../../human-centered-design/stakeholder-profiles"
		>stakeholder profiles</a
	>
	to make it clearer to us and Additive Industries as well, who we were
	designing for and why.
</p>
<p>
	The creation of the document and the profiles took longer than expected, yet
	me and Aleksandar created very detailed and thought out persona's which can
	be relatable.
</p>

<h3>How Might We questions</h3>
<p>
	When we got all the insights we wanted from the research performed, we
	started to create How Might We questions. With these questions, we answered
	them through concepts and others. We wrote these down inside the
	<a
		href="https://docs.google.com/document/d/10bSC_t3MGvXaXi3JNnIM7cJuKZuljvm5VODgejqxOw0/"
		target="_blank"
		>first ideas</a
	>
	document to showcase the line of thought which went into it.
</p>
<p>
	The creation of the How Might We questions was done through the IDEO
	ideation phase. We started with all the research from each individual and
	shared it with the group.
</p>

<h3>Breakroom testing</h3>
<p>
	To validate our prototype with the Additive Industries employees, Bart and I
	created a breakroom test to do at Additive Industries. We created a
	<a
		href="https://docs.google.com/document/d/1YCb7NvNkMkYmU42-FC-w2nMK-V1jnEvislNsHUmvWXk/"
		target="_blank"
		>test plan</a
	>, a
	<a
		href="https://docs.google.com/forms/d/1G1HdMWJQrMITI8c9NYn5fpGuiteHVGt4YdtFLzgcSvM/"
		target="_blank"
		>survey</a
	>
	and a
	<a
		href="https://docs.google.com/document/d/1sI-YoZsTVJnu37T3dL3DGF3QSZuRyYnSQ5Ot-RCJM-s/"
		target="_blank"
		>test report</a
	>
	to document the full research. The responses were slim at first, but kicked
	up towards the end of the test. This gave us insights to later improve the
	prototype once more and create good recommendations for the continuation of
	the project.
</p>

<h3>Design system</h3>
<p>
	Towards the end of the project, I started to create a Design System for the
	group. I set up a
	<a
		href="https://github.com/MaxAltena/baammm-additive-industries"
		target="_blank"
		>GitHub repository</a
	>
	to work out of and created a in-depth design system inside of the storybooks
	with Aleksandar and Max K. The final design system can be found
	<a href="https://baammm-additive-industries.netlify.app/" target="_blank"
		>here</a
	>.
</p>
<p>
	The creation of this design system was fun, yet very much work to do. The
	collaboration with Aleksandar on this was interesting as I helped him a ton
	with learning this way of documenting the design system.
</p>

<h3>Transferability document</h3>
<p>
	As our final design of the prototype came to a finish, we became ready to
	transfer the project. Bart and me made this
	<a
		href="https://docs.google.com/document/d/1VwYhY3GgTAXYhIfktqL5CQ9lYFUvRjHUlzMIx0eZeP8/"
		>document</a
	>
	for the ICT in practice symposium and this would later be the base for the
	transferability document that woul go towards Additive Industries.
</p>

<h3>Presentations</h3>
<p>
	During the length of the project, I gave a few presentations to our client
	during demo's and our bi-weekly progress meetings with them. This made me
	better at presenting in a way, as I never wanted to do so up until now. I
	found it to be quite fun to make and present our project to Additive
	Industries as it also made clear what we had done to the group aswell.
</p>

<h2 id="reflection">Reflection</h2>
<p>
	This project has been one of the more challenging projects I've done
	throughout my study. As there were others involved with different ways of
	thinking and techniques, there was a lot of friction between me and the
	group. This became hard at times as in the end, I felt like I and other
	group members were doing more work then others.
</p>
<p>
	In addition to this, it was hard that Jurgen would not respond as quick as
	possible as that caused for delays within the project timeline. This is one
	of the frustations which was spoken out multiple times resulting in better
	communications down the road.
</p>
<p>
	My role as group leader was sometimes vague for me, I thought I was expected
	to do one thing while others expected me to do another thing. During the
	project, it felt like the group members wanted me to always fit into the
	role they expected me to be while forgetting that I was also learning to
	become a group leader and better myself in that role as well. This was
	frustating at times, yet we made it work in the end after communicating
	about it a ton of times.
</p>
<p>
	In the end, we came together as a team and did some amazing work for
	Additive Industries which I am proud of. As well that I think I've developed
	as a professional yet again in, for example, the role as group leader and
	international group member.
</p>
