<p>
	A group of Fontys students has been tasked with designing a solution for
	Additive Industries’ wish to allow users to monitor their 3D printers
	remotely. Additive Industries builds industrial 3D printers, of which the
	most popular option is to print metal parts.
</p>
<p>
	Additive Industries has expressed its wishes for a solution to be designed
	that would allow operators of the printer to be able to do more tasks
	remotely, such as monitoring one or multiple printers, or queue new print
	jobs, all while taking into account that a company might own multiple
	printers.
</p>

<h2 id="execution">Execution</h2>

<h3>Design Challenge</h3>
<p>
	To make it clear for everyone what we were desgining, for who etc. We
	created a Design Challenge and updated it accordingly any time we saw fit to
	do so. The history and progress of the Design Challenge can be found
	<a
		href="https://docs.google.com/document/d/1SkYT7lbew-ovYBbUZP6QwENgd-tzowd4zHKAbEHm9Zg/"
		target="_blank"
		>here</a
	>.
</p>

<h3>How Might We questions</h3>

<h3>User testing</h3>

<h3>Prototype iterations</h3>

<h3>Group work</h3>
<p>presentations, leading the group, kind of hard</p>

<h2 id="reflection">Reflection</h2>
<p>...</p>
