<h2 id="toc">Table of Contents</h2>
<ol class="table-of-contents">
	<li>
		<a routerLink="." fragment="assignment">Assignment</a>
	</li>
	<li>
		<a routerLink="." fragment="approach">Approach</a>
	</li>
	<li>
		<a routerLink="." fragment="execution">Execution</a>
	</li>
	<li>
		<a routerLink="." fragment="conclusion">Conclusion</a>
	</li>
	<li>
		<a routerLink="." fragment="reflection">Reflection</a>
	</li>
	<li>
		<a routerLink="." fragment="responsibility">Responsibility</a>
	</li>
</ol>

<mat-divider class="margin-y"></mat-divider>

<h2 id="assignment">Assignment</h2>
<p>
	Reflect on how you experience a day without your phone. One day from 7am
	till 12 midnight (all day). NO PHONE! Record what you feel - do - act. For
	recording use [insert medium of choice here - be aware of your choice
	though].
</p>

<h2 id="approach">Approach</h2>
<p>
	The only correct approach for this is texting your friends and family that
	you will not be able to communicate with them the upcoming day.
</p>

<h2 id="execution">Execution</h2>
<p>
	I disabled my phone the first thing in the morning. It was weird. I kept a
	<a
		href="https://docs.google.com/document/d/1HK4KSOyN9MaBnhchExJ_hZF06eI7jZEz5fMIrFuDR3Y/"
		target="_blank"
		>small dairy</a
	>
	of all the events that happened throughout the day and reflect on these.
	This made it simple to see what actions I normally would have taken with a
	phone but was now not able to do.
</p>

<h2 id="conclusion">Conclusion</h2>
<p>
	We need our phone these days. No going around it. Is this really what we
	want?
</p>

<h2 id="reflection">Reflection</h2>
<p>
	This was a fun and mostly insightful assignment. I knew we were very
	attached to our devices. But to this level, I didn't notice. Normal things,
	like communicating, searching an answer on a question or simply the time the
	train leaves are now all done through our phone. This made me more aware of
	the usage and importance of our devices even more, as I already had a good
	understanding (if I say so myself).
</p>

<h2 id="responsibility">Responsibility</h2>
<p>
	I did this reflection and day without my phone all by myself. My girlfriend
	did not want to participate (ever).
</p>
