<app-header></app-header>

<div class="page-content margin-x">
	<div class="container">
		<h1>404 Page not found</h1>

		<mat-divider class="margin-y"></mat-divider>

		<div>
			<p>
				<strong>
					Max is sorry as he didn't find any pages matching the url
					😢</strong
				>
			</p>
			<p class="margin-0">
				<small
					>We'll start from the beginning in {{ counter }} seconds
					⏰</small
				>
			</p>
			<p>
				<small><a routerLink="/">or take me there right now</a></small>
			</p>
		</div>
	</div>

	<app-footer></app-footer>
</div>
