<h2 id="toc">Table of Contents</h2>
<ol class="table-of-contents">
	<li>
		<a routerLink="." fragment="assignment">Assignment</a>
	</li>
	<li>
		<a routerLink="." fragment="approach">Approach</a>
	</li>
	<li>
		<a routerLink="." fragment="execution">Execution</a>
	</li>
	<li>
		<a routerLink="." fragment="conclusion">Conclusion</a>
	</li>
	<li>
		<a routerLink="." fragment="reflection">Reflection</a>
	</li>
	<li>
		<a routerLink="." fragment="responsibility">Responsibility</a>
	</li>
</ol>

<mat-divider class="margin-y"></mat-divider>

<h2 id="assignment">Assignment</h2>
<p>
	Create design probes to gather information about behaviour related to the
	<a href="https://sdgs.un.org/goals" target="_blank">SDGs</a>. By making
	these probes, you can gather insights which you can use for brainstorming
	inspiring ideas.
</p>

<h2 id="approach">Approach</h2>
<p>
	I was going to make a design probe with Boris, which was not available at
	the time of starting this assignment. So I first wrote down some
	<a
		href="https://docs.google.com/document/d/1JIfm8U8O5Oh6JFpJcoe4ACg9JFXr_ZYYZaXBB1N_WjU/"
		target="_blank"
		>ideas</a
	>
	with which we would later settle on checking your fridge and freezer.
</p>

<h2 id="execution">Execution</h2>
<p>
	We first created a more of a description of the design probe itself and what
	information that we wanted to gather with this probe. The initial
	<a
		href="https://docs.google.com/document/d/1GzMZE8l0lMGAjMjo3hDOBRcA11hT_iBH5I50CwT8RVk/"
		target="_blank"
		>non-visual design probe concept</a
	>
	was written down and documented after which Boris created the
	<a
		href="https://drive.google.com/file/d/1evOubsTCRztfqYn9-e8yNFsADGpM8rHL/"
		target="_blank"
		>first visual design probe</a
	>. We used this ourselves and I updated the current visualization to be a
	bit more pleasing and inviting to look at and participate in. This
	<a
		href="https://drive.google.com/file/d/1VOjrlvrVxzO9OkHZK8eHwWknhZgWy-sk/"
		target="_blank"
		>second and final visual design probe</a
	>
	is what we sent to the other group with whom we were switching our desing
	probes with.
</p>

<a
	href="https://drive.google.com/file/d/1VOjrlvrVxzO9OkHZK8eHwWknhZgWy-sk/"
	target="_blank"
>
	<img
		src="https://i.gyazo.com/533452e617a15f30486c51712e4e431e.jpg"
		alt="Final design probe"
	/>
</a>

<h2 id="conclusion">Conclusion</h2>
<p>
	The
	<a href="https://padlet.com/maxjozefaltena/design_probes_1" target="_blank"
		>result of the design probe</a
	>
	were not necessarily execting and ground-breaking findings, but were
	insightful for us. We gathered insights such as that the users weren't going
	to the grocery store within the time period that was given. This is
	something we need to look at the next time: Match what we expect from the
	user to what the user actually will do.
</p>

<h2 id="reflection">Reflection</h2>
<p>
	The usage of the design probe was something I have never done before. It was
	suprising and fun, because you do become more aware of what you are doing.
	Simply by giving someone a set task on what they should do or watch already
	has a big impact on the awareness that it creates.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>
	Boris and me created the design probe together. Boris created the first
	visual design probe which I improved upon with the final version.
</p>
