<h2 id="toc">Table of Contents</h2>
<ul>
	<li>
		<a routerLink="." fragment="toc">toc</a>
	</li>
	<li>
		<a routerLink="." fragment="assignment">Assignment</a>
	</li>
	<li>
		<a routerLink="." fragment="approach">Approach</a>
	</li>
	<li>
		<a routerLink="." fragment="execution">Execution</a>
	</li>
	<li>
		<a routerLink="." fragment="conclusion">Conclusion</a>
	</li>
	<li>
		<a routerLink="." fragment="reflection">Reflection</a>
	</li>
	<li>
		<a routerLink="." fragment="responsibility">Responsibility</a>
	</li>
</ul>

<h2 id="assignment">Assignment</h2>
<p>
	Create design probes to gather information about behaviour related to the
	<a href="https://sdgs.un.org/goals" target="_blank">SDGs</a>. By making
	these probes, you can gather insights which you can use for brainstorming
	inspiring ideas.
</p>

<h2 id="approach">Approach</h2>
<p></p>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui
	doloribus quas rem numquam at dolor velit cupiditate minima esse iste
	corporis laborum assumenda excepturi atque, maiores voluptatum aspernatur
	sit?
</p>

<h2 id="execution">Execution</h2>
<p></p>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui
	doloribus quas rem numquam at dolor velit cupiditate minima esse iste
	corporis laborum assumenda excepturi atque, maiores voluptatum aspernatur
	sit?
</p>

<!-- <p>Together with Boris we created a design probe</p> -->

<h2 id="conclusion">Conclusion</h2>
<p></p>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui
	doloribus quas rem numquam at dolor velit cupiditate minima esse iste
	corporis laborum assumenda excepturi atque, maiores voluptatum aspernatur
	sit?
</p>

<h2 id="reflection">Reflection</h2>
<p></p>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui
	doloribus quas rem numquam at dolor velit cupiditate minima esse iste
	corporis laborum assumenda excepturi atque, maiores voluptatum aspernatur
	sit?
</p>

<h2 id="responsibility">Responsibility</h2>
<p></p>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui
	doloribus quas rem numquam at dolor velit cupiditate minima esse iste
	corporis laborum assumenda excepturi atque, maiores voluptatum aspernatur
	sit?
</p>

<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum dolor
	voluptate totam ipsa facere numquam quod eos perspiciatis at qui culpa
	reiciendis, ducimus, fugit porro praesentium, temporibus architecto autem
	provident!
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum dolor
	voluptate totam ipsa facere numquam quod eos perspiciatis at qui culpa
	reiciendis, ducimus, fugit porro praesentium, temporibus architecto autem
	provident!
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum dolor
	voluptate totam ipsa facere numquam quod eos perspiciatis at qui culpa
	reiciendis, ducimus, fugit porro praesentium, temporibus architecto autem
	provident!
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum dolor
	voluptate totam ipsa facere numquam quod eos perspiciatis at qui culpa
	reiciendis, ducimus, fugit porro praesentium, temporibus architecto autem
	provident!
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum dolor
	voluptate totam ipsa facere numquam quod eos perspiciatis at qui culpa
	reiciendis, ducimus, fugit porro praesentium, temporibus architecto autem
	provident!
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum dolor
	voluptate totam ipsa facere numquam quod eos perspiciatis at qui culpa
	reiciendis, ducimus, fugit porro praesentium, temporibus architecto autem
	provident!
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum dolor
	voluptate totam ipsa facere numquam quod eos perspiciatis at qui culpa
	reiciendis, ducimus, fugit porro praesentium, temporibus architecto autem
	provident!
</p>
