<header></header>

<main>
	<div class="margin-x">
		<div class="container">
			<div class="top">
				<h1>Story Creation</h1>
				<div class="chip-list">
					<mat-chip-list>
						<mat-chip color="primary" selected
							>Story Creation</mat-chip
						>
						<mat-chip>Subject</mat-chip>
					</mat-chip-list>
				</div>
			</div>

			<div class="content">
				<h2>// TODO:</h2>
				<ul>
					<li>
						<a routerLink="/story-creation/pecha-kucha"
							>Pecha Kucha</a
						>
					</li>
					<li>
						<a
							routerLink="/story-creation/research-storytelling-emotion"
							>Research Storytelling & Emotion</a
						>
					</li>
				</ul>
			</div>

			<div class="bottom"></div>
		</div>
	</div>
</main>

<footer></footer>
