<h2>// TODO</h2>
<ul>
	<li>
		<a routerLink="/story-creation/pecha-kucha">Pecha Kucha</a>
	</li>
	<li>
		<a routerLink="/story-creation/research-storytelling-emotion"
			>Research Storytelling & Emotion</a
		>
	</li>
	<li>
		<a routerLink="/story-creation/protaganist">Protaganist</a>
	</li>
</ul>

<h2>About Story Creation</h2>
<p>
	Storytelling is one of the most powerful tools in order to create impact and
	connection. The power of story goes far beyond simply relaying facts and
	give color and depth to otherwise bland material and they allow people to
	connect with the message in a deeper, more meaningful way.
</p>
