<div *ngIf="page">
	<div *ngIf="page.type === 'iframe'" class="dynamic dynamic-iframe">
		<div class="background">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			<p>Loading {{ getIframeTitle() }} page...</p>
		</div>
		<iframe
			[src]="getIframeURL()"
			[title]="getIframeTitle()"
			frameborder="0"
			allowfullscreen="true"
			mozallowfullscreen="true"
			webkitallowfullscreen="true"
		></iframe>
	</div>

	<div
		*ngIf="page.type === 'default' || page.type === 'subject'"
		class="dynamic dynamic-page"
	>
		<app-header [parent]="parent"></app-header>

		<div class="page-content margin-x">
			<div class="container">
				<app-top [page]="page"></app-top>

				<mat-divider class="margin-y"></mat-divider>

				<div *ngIf="page.type === 'subject'">
					<h2>Pages</h2>
					<ul>
						<li *ngFor="let subpage of page.children">
							<a routerLink="/{{ page.path }}/{{ subpage.path }}"
								>{{ getPageLink(subpage) }}</a
							>
						</li>
					</ul>

					<mat-divider
						class="margin-y"
						*ngIf="page.title || page.info.about"
					></mat-divider>

					<h2 *ngIf="page.title">About {{ page.title }}</h2>
					<p *ngIf="page.info.about">{{ page.info.about }}</p>
				</div>

				<app-main
					*ngIf="page.type === 'default'"
					[page]="page"
				></app-main>
			</div>
		</div>

		<app-footer [parent]="parent" [page]="page"></app-footer>
	</div>
</div>
