<h2>Items</h2>
<ul>
	<li>
		<a routerLink="/human-centered-design/design-probes">Design Probes</a>
	</li>
	<li>
		<a routerLink="/human-centered-design/print-house-interview"
			>2D print house interview</a
		>
	</li>
	<li>
		<a routerLink="/human-centered-design/stakeholder-profiles"
			>Stakeholder Profiles</a
		>
	</li>
</ul>

<h2>About Human Centered Design</h2>
<p>
	In the subject HCD there will be learned how to apply the IDEO Human
	Centered Design (HCD) process to iteratively develop products or services
	for the Digital Society. The HCD process consists of 3 phases: Inspiration,
	Ideation and Implementation. During the first iteration of the project it
	will become familiar with how to apply these steps. Subsequentl the three
	steps in each of the following three iterations are repeated. Furthermore,
	workshops focusing on specific methods of prototyping and user testing will
	be offered in iteration 2-4.
</p>
