<header></header>

<main>
	<div class="margin-x">
		<div class="container">
			<div class="top">
				<h1>Human Centered Design</h1>
				<div class="chip-list">
					<mat-chip-list>
						<mat-chip color="primary" selected
							>Human Centered Design</mat-chip
						>
						<mat-chip>Subject</mat-chip>
					</mat-chip-list>
				</div>
			</div>

			<div class="content">
				<h2>// TODO:</h2>
				<ul>
					<li>
						<a routerLink="/human-centered-design/design-probes"
							>Design Probes</a
						>
					</li>
					<li>
						<a
							routerLink="/human-centered-design/print-house-interview"
							>2D print house interview</a
						>
					</li>
				</ul>
			</div>

			<div class="bottom"></div>
		</div>
	</div>
</main>

<footer></footer>
