@import 'styles';

.content,
::ng-deep .content {
	.margin {
		margin: 32px;
	}

	.margin-x {
		margin-right: 32px;
		margin-left: 32px;
	}

	.margin-y {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	.important {
		border-radius: 4px;
		padding: 16px;
		border: 2px solid rgba(255, 0, 51, 1);
		background: rgba(255, 0, 51, 0.2);
	}

	.table-of-contents,
	.table-of-items {
		font-weight: bold;
	}

	ol,
	ul {
		li {
			margin: 6px 0;
		}
	}

	p {
		line-height: 1.672;
		letter-spacing: 0.16px;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		color: map-get($Portfolio-S7-primary, 700);
		margin: 0;
		padding: 0;
	}

	blockquote {
		position: relative;
		margin: 24px;
		font-style: italic;

		&::after {
			content: '';
			z-index: -1;
			position: absolute;
			background: black;
			opacity: 0.15;
			border-radius: 4px;
			width: 4px;
			height: calc(100% + 12px);
			top: -6px;
			bottom: -6px;
			left: -10px;
		}
	}

	code {
		position: relative;
		margin: 0 2px;

		&::after {
			content: '';
			z-index: -1;
			position: absolute;
			background: black;
			opacity: 0.15;
			border-radius: 4px;
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			top: -2px;
			left: -2px;
			right: -2px;
			bottom: -2px;
		}
	}

	a {
		cursor: pointer;
		color: black;
		transition: color 100ms ease-in-out;
		text-decoration-color: map-get($Portfolio-S7-accent, 500);
		text-decoration-style: underline;
		font-weight: bold;

		&:hover,
		&:active {
			color: map-get($Portfolio-S7-accent, 500);
		}
	}
}
