@use './header.scss';
@use './top.scss';
@use './footer.scss';
@use './markdown.scss';

.container {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}
@media only screen and (min-width: 601px) {
	.container {
		width: 85%;
	}
}
@media only screen and (min-width: 993px) {
	.container {
		width: 70%;
	}
}

.margin {
	margin: 32px;
}

.margin-x {
	margin-right: 32px;
	margin-left: 32px;
}

.margin-y {
	margin-top: 32px;
	margin-bottom: 32px;
}
