div.top {
	width: 100%;
	height: auto;

	h1 {
		font-size: 40px;
		font-weight: 900;
		line-height: 40px;
		letter-spacing: 0.08px;
		margin: 16px 0;
	}

	::ng-deep .mat-chip-list-wrapper {
		margin: 16px -4px !important;
		user-select: none;
	}

	blockquote {
		position: relative;
		margin: 24px;
		font-style: italic;

		&::after {
			content: '';
			z-index: -1;
			position: absolute;
			background: black;
			opacity: 0.15;
			border-radius: 4px;
			width: 4px;
			height: calc(100% + 12px);
			top: -6px;
			bottom: -6px;
			left: -10px;
		}
	}
}
