<h2 id="motivation">Motivation</h2>
<p>
	To get a better understanding of who we are designing for, we as a group
	decided to create a better picture of our stakeholders. With these profiles,
	we can keep these in our mind when brainstorming and designing for our
	users.
</p>

<h2 id="approach">Approach</h2>
<p>
	Aleksandar and me decided to create a stakeholder analysis to get the
	insights that the group wanted. To start off, we identified the stakeholders
	and prioritized them based on interest and power. After which we started to
	ask ourselves some questions about the stakeholder, for example how we could
	influence their opinion. After doing this, we set up a POV (Point Of View)
	and story per stakeholder. For the primary stakeholders, we would create a
	more detailed user flow and a persona to go with the them.
</p>

<h2 id="execution">Execution</h2>
<p>
	We started to create the
	<a
		href="https://docs.google.com/document/d/12fpHWpqyEs3GZgm5b2QlBdrI0ehJ4fb7UzpY5dybX0U/"
		target="_blank"
		>document</a
	>
	with the stakeholder profiles inside of them. To start of, Aleksandar found
	a
	<a
		href="https://www.lucidchart.com/blog/how-to-do-a-stakeholder-analysis"
		target="_blank"
		>resource to make a stakeholder analysis</a
	>
	which we started using to identify and prioritize our stakeholders. After we
	did this, we started working on understanding these stakeholders and
	creating a POV (Point Of View) for them. This did come with some small
	challenges, as both Aleksandar and me had different thoughts on some of
	them, so we merged both of them to these as a result.
</p>
<p>
	After creating the POV's, we started working on a story and persona to show
	as a representation of the stakeholder. With the persona for example, we
	could think of the vague stakeholders as an actual person. For the most
	important stakeholders; the manager and operator, we created a more detailed
	user flow as well.
</p>

<a
	href="https://docs.google.com/document/d/12fpHWpqyEs3GZgm5b2QlBdrI0ehJ4fb7UzpY5dybX0U/"
	target="_blank"
	class="image"
>
	<img
		src="https://i.gyazo.com/ae0618e89d0ef4a35500d57688f43a86.jpg"
		alt="The first page of the Stakeholders Analysis"
	/>
</a>

<h2 id="feedback">Feedback</h2>
<p>
	When showcasing our stakeholder profiles during the second demo and a
	progress meeting with Additive Industries, we received feedback on making
	more detailed user flows of their daily lives. With these flows, we could
	design a better solution to fit their remote needs as well. We updated these
	user flows with pain points as well to showcase which ones we would like to
	resolve.
</p>

<h2 id="reflection">Reflection</h2>
<p>
	Aleksandar and me did a great job on creating stakeholder profiles. With the
	feedback received from lecturers and the client we created more detailed
	profiles to better understand them. The only thing I noticed during the
	making of these profiles is that we did postpone the making of this
	sometimes to work on other things like our portfolio.
</p>

<h2 id="learning-outcomes">Learning outcomes</h2>
<p>
	While making this document, we showcased our work to our lecturers and
	client a few times to gather feedback. These iterations became more valuable
	every time. Working with Aleksandar was a great pleasure as well and I
	learned a ton of the way he works.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>
	Aleksandar and me created these stakeholders and analyzed them to make
	profiles.
</p>
