<h2 id="assignment">Assignment</h2>
<p>
	Write an essay in which you argument and reason for your vision: To what
	extend and how is [a specific aptitude / media design technique] affecting
	[the current design challenge].
</p>
<p>
	The starting point of the essay is a topic you would like to dive into and
	elaborate upon. It is of course of importance that YOU are interested in the
	topic and that the topic itself has a clear and relevant relation with the
	Media Theory course topics. This can be anything from e.g. remediation
	theory, a specific example we've discussed you would like to elaborate on,
	an aptitude from Pink, or a digital technique you are interested in.
</p>

<h2 id="approach">Approach</h2>
<p>
	As my whole semester was already around consuming media, I thought how do I
	use media and how do they make me us it? One of the things I came to were
	notifications or better said: triggers.
</p>

<h2 id="execution">Execution</h2>
<p>
	As I chose to research and write about triggers, I was thinking to myself;
	what triggers me about them? I came to senses with why, such as that they
	sometimes make me do things I do not want to do. Reflecting on my own usage,
	whenever I get a notification, it triggers me to follow up on that.
</p>

<p>
	After discussing the topic, Suzanne thought there was enough food for
	thought inside of the topic to write an essay about. One of these things is
	also the relation of the producer and the consumer to the triggers. For
	example, should producers limit the triggers or the consumer itself?
</p>

<p>
	Through research I've gathered I created my essay with my vision on the
	matter. You can view the
	<a
		href="https://docs.google.com/document/d/1Bq7epKPlptSr8n2kqgAt_OozG4Xa2o9L_4i0rt8rG30/"
		target="_blank"
		>document here</a
	>.
</p>

<a
	href="https://docs.google.com/document/d/1Bq7epKPlptSr8n2kqgAt_OozG4Xa2o9L_4i0rt8rG30/"
	target="_blank"
	class="image"
>
	<img
		src="https://i.gyazo.com/b883869452241fc109a08528e1215c54.jpg"
		alt="The first page of the Essay: Triggers"
	/>
</a>

<h2 id="reflection">Reflection</h2>
<p>
	Though it was hard researching and gathering sources for my opinions and
	counter-arguments, I had fun doing it. It was fun writing down my opinions
	as well in a good and clear manner but it took some time to get the right
	wording.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>I created this essay.</p>
