<h2 id="assignment">Assignment</h2>
<p>
	Analyse your favourite social medium you are using the model of the tetrad
	of media effects. Why are you using it? What are you portraying on the
	social medium? What parts of you are extended on the medium? What would
	happen if you would be hacked - how would you feel?
</p>

<h2 id="execution">Execution</h2>
<p>
	I only use a few mediums in my daily life. I mainly use WhatsApp to
	communicate and YouTube and Reddit for entertainment and information. As
	such, WhatsApp extends my connection to my friends and family while YouTube
	and Reddit extend me through providing information I find relevant.
</p>

<p>
	If I would get hacked on either YouTube or Reddit, I wouldn't bat a single
	eye. I couldn't care that much about those two. But WhatsApp. If I get
	hacked on that, I will lose a lot of communication with for example my
	girlfriend, family and friends.
</p>

<a
	href="https://en.wikipedia.org/wiki/Tetrad_of_media_effects"
	target="_blank"
	class="image"
>
	<img
		src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/MediaTetrad.svg/1200px-MediaTetrad.svg.png"
		alt="Tetrad of media effects"
	/>
</a>

<h3>What does WhatsApp enhance?</h3>
<p>
	WhatsApp enhances my ability to communicate with other people. Be it because
	of distance or, like now, because of a pandemic. I can keep updated with my
	girlfriend, family and friends all through a single medium.
</p>

<h3>What does WhatsApp make obsolete?</h3>
<p>
	WhatsApp makes the usage of other communication systems obselete and, in a
	way, makes it obselete to communicate with eachother in real life. Yet, I
	don't feel like WhatsApp will be replacing my real life anytime soon.
</p>

<h3>What does WhatsApp retrieve?</h3>
<p>
	WhatsApp retrieves the ability to communicate with others, no matter the
	distance between eachother. This is a given in today's society, but was not
	imaginable tens of years ago.
</p>

<h3>What does WhatsApp flip into?</h3>
<p>
	If WhatsApp would be pushed to the exterme, everyone now communicates
	exclusively on the medium. No more other apps to schedule an appoinment,
	simply with WhatsApp. Or possibly even replacing real life? No. I don't
	think that would happen.
</p>

<h2 id="reflection">Reflection</h2>
<p>
	Think and rationalizing the reasons and the ways I use certian mediums made
	me more aware of the advantages and disadvantages of certain mediums. This
	has indirectly impacted me to create project such as
	<a href="../../critical-design/digital-detox">Digital Detox</a> or
	<a href="../../story-creation/detoxers">Detoxers</a>
	to help me start this process.
</p>
<p>
	In a way, I think we should all lower or minimize the amount of mediums we
	use and the duration of it. Simply because these advantages or enhancements
	are only positive when used correctly.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>I created this.</p>
