<header></header>

<main>
	<div class="margin-x">
		<div class="container">
			<div class="top">
				<h1>Critical Design</h1>
				<div class="chip-list">
					<mat-chip-list>
						<mat-chip color="primary" selected
							>Critical Design</mat-chip
						>
						<mat-chip>Subject</mat-chip>
					</mat-chip-list>
				</div>
			</div>

			<div class="content">
				<h2>// TODO:</h2>
				<ul>
					<li>
						<a routerLink="/critical-design/critical-problems"
							>Critical Problems</a
						>
					</li>
					<li>
						<a routerLink="/critical-design/personal-manifesto"
							>Personal Manifesto</a
						>
					</li>
					<li>
						<a routerLink="/critical-design/concepts">Concepts</a>
					</li>
					<li>
						<a routerLink="/critical-design/concept-digital-detox"
							>Concept: Digital Detox</a
						>
					</li>
				</ul>

				<!-- <mat-card>
					<mat-card-header>
						<mat-card-title>Personal Manifesto</mat-card-title>
					</mat-card-header>
					<img
						mat-card-image
						src="https://picsum.photos/600/100"
						alt="Personal manifesto image"
					/>
					<mat-card-content>
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing
							elit. Dignissimos sed exercitationem quo ex eum
							distinctio mollitia iure voluptates fugiat debitis
							nemo qui officiis, ducimus, maiores ipsa a eos.
							Nihil, doloribus!
						</p>
					</mat-card-content>
					<mat-card-actions>
						<a
							mat-button
							routerLink="/critical-design/personal-manifesto"
							>Take a look</a
						>
					</mat-card-actions>
				</mat-card> -->
			</div>

			<div class="bottom"></div>
		</div>
	</div>
</main>

<footer></footer>
