<h2>Items</h2>
<ul class="table-of-items">
	<li>
		<a
			routerLink="/critical-design/critical-problems"
			class="strike-through"
			>Critical Problems</a
		>
	</li>
	<li>
		<a
			routerLink="/critical-design/personal-manifesto"
			class="strike-through"
			>Personal Manifesto</a
		>
	</li>
	<li>
		<a routerLink="/critical-design/concepts" class="strike-through"
			>Concepts</a
		>
	</li>
	<li>
		<a
			routerLink="/critical-design/concept-digital-detox"
			class="strike-through"
			>Concept: Digital Detox</a
		>
	</li>
</ul>

<mat-divider class="margin-y"></mat-divider>

<h2>About Critical Design</h2>
<p>
	Critical Design uses speculative design proposals to challenge narrow
	assumptions, preconceptions and givens about the role products play in
	everyday life. It is more of an attitude than anything else, a position
	rather than a method. There are many people doing this who have never heard
	of the term critical design and who have their own way of describing what
	they do. Naming it Critical Design is simply a useful way of making this
	activity more visible and subject to discussion and debate. Its opposite is
	affirmative design: design that reinforces the status quo.
</p>
