@import '~@angular/material/theming';

:host {
	margin-top: 64px;
	min-height: calc(100vh - 64px);
	display: flex;
	flex-direction: column;

	mat-toolbar {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		padding: 16px;
		z-index: 10;
		height: 64px !important;

		user-select: none;

		.margin-right-16 {
			margin-right: 16px;
		}

		.spacer {
			flex: 1 1 auto;
		}

		.github-link {
			svg {
				margin: auto;
				max-width: 65%;
				fill: white;
			}
		}
	}

	mat-sidenav-container {
		flex-grow: 1;
		min-height: calc(100vh - 64px);

		mat-sidenav {
			position: fixed;
			top: 64px;
			left: 0;
			bottom: 0;
			padding-bottom: 30px;
			width: 300px;
			z-index: 5;

			user-select: none;

			.no-padding {
				padding: 0;
			}

			::ng-deep .flex-column .mat-list-item-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
			}

			.height-80 {
				height: 80px;
			}

			p {
				margin: 0;
				padding: 0;
			}

			.selectable {
				user-select: text;
			}

			a,
			mat-list-item {
				height: 48px;
				padding: 0;
				margin: 0;
			}

			a.active-item,
			mat-list-item.active-item {
				background: #eee;
			}

			mat-icon {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			::ng-deep .bold.mat-line {
				font-weight: bold !important;
			}

			mat-expansion-panel {
				@include mat-elevation(0);
				border-radius: 0px;

				mat-expansion-panel-header {
					padding: 0;

					::ng-deep .mat-list-item-content {
						padding-right: 40px;
					}

					::ng-deep .mat-expansion-indicator {
						position: absolute;
						right: 16px;
						top: 12px;
						bottom: 12px;
						pointer-events: none;
					}
				}

				::ng-deep .mat-expansion-panel-body {
					padding: 0;
					margin: 0;

					.mat-list-text {
						font-size: 14px;
					}
				}
			}

			mat-card {
				@include mat-elevation(4);
				margin: 8px;
			}
		}

		mat-sidenav-content {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			min-height: calc(100vh - 64px);
			overflow: hidden;
			min-width: 300px;

			> *,
			router-outlet {
				position: relative;
				left: 0;
				top: 0;
				right: 0;
				width: 100%;
			}
		}
	}
}
