@import '~@angular/material/theming';

#app {
	min-height: 100vh;
	height: 100vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;

	mat-toolbar {
		padding: 16px;

		.margin-right-16 {
			margin-right: 16px;
		}
	}

	.spacer {
		flex: 1 1 auto;
	}

	mat-sidenav-container {
		flex-grow: 1;

		mat-sidenav {
			width: 250px;
			padding-bottom: 32px;

			.no-padding {
				padding: 0;
			}

			::ng-deep .flex-column .mat-list-item-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
			}

			.height-80 {
				height: 80px;
			}

			p {
				margin: 0;
				padding: 0;
			}

			a,
			mat-list-item {
				height: 48px;
				padding: 0;
				margin: 0;
			}

			a.active-item,
			mat-list-item.active-item {
				background: #eee;
			}

			::ng-deep .bold.mat-line {
				font-weight: bold !important;
			}

			mat-expansion-panel {
				@include mat-elevation(0);
				border-radius: 0px;

				mat-expansion-panel-header {
					padding: 0;

					::ng-deep .mat-list-item-content {
						padding-right: 40px;
					}

					::ng-deep .mat-expansion-indicator {
						position: absolute;
						right: 16px;
						top: 12px;
						bottom: 12px;
						pointer-events: none;
					}
				}

				::ng-deep .mat-expansion-panel-body {
					padding: 0;
					margin: 0;
				}
			}

			mat-card {
				@include mat-elevation(4);
				margin: 8px;
			}
		}

		mat-sidenav-content {
			position: relative;
			overflow-x: hidden;
			overflow-y: scroll;
			scroll-behavior: smooth;
			scroll-padding: 32px 0 0 0;

			.content-window {
				position: relative;
				left: 0;
				top: 0;
				right: 0;
				width: 100%;
				height: auto;

				> * {
					position: relative;
					left: 0;
					top: 0;
					right: 0;
					width: 100%;
				}
			}
		}
	}
}
