<h2 id="toc">Table of Contents</h2>
<ol class="table-of-contents">
	<li>
		<a routerLink="." fragment="assignment">Assignment</a>
	</li>
	<li>
		<a routerLink="." fragment="execution">Execution</a>
	</li>
	<li>
		<a routerLink="." fragment="reflection">Reflection</a>
	</li>
	<li>
		<a routerLink="." fragment="responsibility">Responsibility</a>
	</li>
</ol>

<mat-divider class="margin-y"></mat-divider>

<h2 id="assignment">Assignment</h2>
<p>
	Make a list of plus-minus 10 small or big problems. These can be about all
	kinds of topics: personal, global, economical, political, cultural etc. Try
	to formulate them very specifically.
</p>

<h2 id="execution">Execution</h2>
<p>
	I wrote down some general problems that I was having and some very detailed
	ones. I requested feedback on this
	<a
		href="https://docs.google.com/document/d/1TnKKq58MF6Hvx8ksKYqXnC3Vc9ZLAzbBArDVZrG80b8/"
		target="_blank"
		>document</a
	>
	where Woody gave the feedback that these problems were diverse and sometimes
	very detailed. This was good, as it gave a good insight of my problems and
	in the end values as well.
</p>

<h2 id="reflection">Reflection</h2>
<p>
	The problems that I came up with also reflect on the values that I have. I
	later noticed this when working on the next assignment, the
	<a routerLink="../personal-manifesto">personal manifesto</a>. Doing these
	assignments might be hard and not fun at the start, but in the end give you
	insights or views that you wouldn't normally have.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>I created the document with problems.</p>
