<h2 id="assignment">Assignment</h2>
<p>
	Make a list of plus-minus 10 small or big problems. These can be about all
	kinds of topics: personal, global, economical, political, cultural etc. Try
	to formulate them very specifically.
</p>

<h2 id="execution">Execution</h2>
<p>
	I wrote down some general problems that I was having and some very detailed
	ones. I requested feedback on this
	<a
		href="https://docs.google.com/document/d/1TnKKq58MF6Hvx8ksKYqXnC3Vc9ZLAzbBArDVZrG80b8/"
		target="_blank"
		>document</a
	>
	where Woody gave the feedback that these problems were diverse and sometimes
	very detailed. This was good, as it gave a good insight of my problems and
	in the end values as well.
</p>

<a
	href="https://docs.google.com/document/d/1TnKKq58MF6Hvx8ksKYqXnC3Vc9ZLAzbBArDVZrG80b8/"
	target="_blank"
	class="image"
>
	<img
		src="https://i.gyazo.com/f9cccd30deb7aeb9bf44df5854559a12.jpg"
		alt="The first page of the Critical Problems"
	/>
</a>

<h2 id="reflection">Reflection</h2>
<p>
	The problems that I came up with also reflect on the values that I have. I
	later noticed this when working on the next assignment, the
	<a routerLink="../personal-manifesto">personal manifesto</a>. Doing these
	assignments might be hard and not fun at the start, but in the end give you
	insights or views that you wouldn't normally have.
</p>

<h2 id="learning-outcomes">Learning outcomes</h2>
<p>
	While writing down these problems, I am starting to find problems rather
	than solving them. Behind these problems are questions that I am asking
	myself, why is it this way? This is one of the first steps of using and
	applying Critical Design as
	<a href="http://dunneandraby.co.uk/content/bydandr/13/0" target="_blank"
		>Dunne & Raby</a
	>
	defined.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>I created the document with problems.</p>
