<p>Hey, welcome to my portfolio!</p>

<p>
	This is the place where all the action will take place for
	<a href="https://maxaltena.com/" target="_blank">Max Altena</a> in the Minor
	Digital Experience Design (DXD)!
</p>

<p>Each subject has their own page with a reflection on the subject itself.</p>

<mat-divider class="margin-y"></mat-divider>

<h2 id="subjects">Subjects</h2>
<ul class="table-of-subjects">
	<li>
		<a routerLink="/human-centered-design">Human Centered Design</a>
	</li>
	<li>
		<a routerLink="/critical-design">Critical Design</a>
	</li>
	<li>
		<a routerLink="/story-creation">Story Creation</a>
	</li>
	<li>
		<a routerLink="/media-theory">Media Theory</a>
	</li>
	<li>
		<a routerLink="/other">Other</a>
	</li>
</ul>

<mat-divider class="margin-y"></mat-divider>

<h2>Learning outcomes</h2>
<table>
	<tr>
		<th>Learning outcomes</th>
		<th>Evidence</th>
	</tr>
	<tr>
		<td>Human Centered Design proces</td>
		<td>
			<ul>
				<li>
					<a href="/other/group-contribution"
						>Project: Design challenge</a
					>
				</li>
				<li>
					<a href="/human-centered-design/design-probes"
						>Human Centered Design: Design probes</a
					>
				</li>
				<li>
					<a href="/human-centered-design/print-house-interview"
						>Project: 2D print house interview</a
					>
				</li>
				<li>
					<a href="/human-centered-design/stakeholder-profiles"
						>Project: Stakeholder profiles</a
					>
				</li>
				<li>
					<a href="/other/group-contribution"
						>Project: How Might We questions</a
					>
				</li>
				<li>
					<a href="/other/group-contribution"
						>Project: Prototype iterations</a
					>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Meaningful creation</td>
		<td>
			<ul>
				<li>
					<a href="/other/group-contribution"
						>Project: Prototype iterations</a
					>
				</li>
				<li>
					<a href="/media-theory"
						>Media Theory: Reflection on media</a
					>
				</li>
				<ul>
					<li>
						<a href="/media-theory/a-day-without-my-phone"
							>Media Theory: A day without my phone</a
						>
					</li>
					<li>
						<a href="/media-theory/social-analysis"
							>Media Theory: Social analysis</a
						>
					</li>
					<li>
						<a href="/media-theory/my-ai-friend"
							>Media Theory: My AI friend</a
						>
					</li>
				</ul>
				<li>
					<a href="/media-theory/essay"
						>Media theory: Essay: Triggers</a
					>
				</li>
				<li>
					<a href="/critical-design/personal-manifesto"
						>Critical Design: Personal manifesto</a
					>
				</li>
				<li>
					<a href="/story-creation/detoxers"
						>Story Creation: Detoxers</a
					>
				</li>
				<li>
					<a href="/critical-design/digital-detox"
						>Critical Design: Digital Detox</a
					>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Professional competence</td>
		<td>
			<ul>
				<li>
					<a href="/#subjects">Subject reflections</a>
				</li>
				<li><a href="/other/vega-collab">VEGA Collab</a></li>
				<li>
					<a href="/other/group-contribution">Additive Industries</a>
				</li>
			</ul>
		</td>
	</tr>
</table>
