<p class="important">
	Some pages and sections have <code>...</code> or <code>// FUTURE</code> as
	their content, which means these are currently in the making or will be
	added at a later date.
</p>

<p>Hey, welcome to my (WIP 🚧) portfolio!</p>

<p>
	This is the place where all the action will take place for
	<a href="https://maxaltena.com/" target="_blank">Max Altena</a> in the Minor
	Digital Experience Design (DXD)!
</p>

<mat-divider class="margin-y"></mat-divider>

<h2>Subjects</h2>
<ul class="table-of-subjects">
	<li>
		<a routerLink="/human-centered-design">Human Centered Design</a>
	</li>
	<li>
		<a routerLink="/critical-design">Critical Design</a>
	</li>
	<li>
		<a routerLink="/story-creation">Story Creation</a>
	</li>
	<li>
		<a routerLink="/media-theory">Media Theory</a>
	</li>
	<li>
		<a routerLink="/other">Other</a>
	</li>
</ul>
