<h2 id="toc">Table of Contents</h2>
<ol class="table-of-contents">
	<li>
		<a routerLink="." fragment="assignment">Assignment</a>
	</li>
	<li>
		<a routerLink="." fragment="approach">Approach</a>
	</li>
	<li>
		<a routerLink="." fragment="execution">Execution</a>
	</li>
	<li>
		<a routerLink="." fragment="conclusion">Conclusion</a>
	</li>
	<li>
		<a routerLink="." fragment="reflection">Reflection</a>
	</li>
	<li>
		<a routerLink="." fragment="learning-outcomes">Learning outcomes</a>
	</li>
	<li>
		<a routerLink="." fragment="responsibility">Responsibility</a>
	</li>
</ol>

<mat-divider class="margin-y"></mat-divider>

<h2 id="assignment">Assignment</h2>
<p>
	Look at your manifesto and try to extract a topic for your personal project.
	Make groups and execute a brainstorm on this topic. Do some profound
	research on your topic and turn your ideas from the brainstorm into 5
	concepts for your personal project. Describe them in words and images.
</p>

<h2 id="approach">Approach</h2>
<p>
	To start gathering a topic, I will look at my
	<a routerLink="../personal-manifesto/">personal manifesto</a> and also my
	<a routerLink="../critical-problems/">critical problems</a> that I wrote
	down to see which ones I find most interesting. From here I can execute the
	brainstorm and create ideas & multiple concepts.
</p>

<h2 id="execution">Execution</h2>
<p>
	I firstly took a look at my previous assignments for Critical Design and saw
	one that stood out: Media consumption. I knew directly that this would
	become my topic for the brainstorm. After each other group member thought of
	a topic, we started a group brainstorm.
</p>
<p>
	Within the brainstorm, we had a ton of good, mwah and great ideas. I wrote
	the ideas for my topic down inside of a
	<a
		href="https://docs.google.com/document/d/1MrN8shPdh1HMCkXSjlhVejlPZHTcaiwP1nysbkuU6O8/"
		target="_blank"
		>brainstorm document</a
	>
	so I could reference back to the brainstorm later. I later created a more
	detailed
	<a
		href="https://docs.google.com/document/d/1os49IDtiL_JfEfOp_mUkrgsZCdRMVi84D8gX8PVTBzE/"
		target="_blank"
		>document with concepts</a
	>
	from the ideas. These concepts came forth from the ideas, but were altered a
	bit so they would better fit the topic.
</p>

<h2 id="conclusion">Conclusion</h2>
<p>
	The concepts created are in line with the topic I chose and the things that
	I value. This way, I will create a more thought out concept because of it
	being more in line then anything else. Woody found the concepts to be divers
	in their nature, but would find it more interesting to see these ideas and
	concepts combined into a single larger concept.
</p>

<h2 id="reflection">Reflection</h2>
<p>
	The brainstorm session itself was good, but as time went on, the ideas and
	concentration of the group went down. Therefor, we now know that we need to
	take a break earlier to optimize the results of the brainstorm. The ideas
	gathered still were suffice enough to build upon.
</p>

<h2 id="learning-outcomes">Learning outcomes</h2>
<p>
	As we were now looking for problems around the topic, it showed how we,
	including myself, were thinking critically. This is a great step into the
	direction of this subject, as it allowed us to now think more deeply about
	the issues at hand.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>
	We did a brainstorm with the Additive Industries group. I personally made
	the brainstorm and the concepts documents.
</p>
