<header>
	<a mat-button routerLink="../" color="accent" class="top-left back-link"
		><mat-icon>arrow_back</mat-icon> <span>Story Creation</span></a
	>
</header>

<main>
	<div class="margin-x">
		<div class="container">
			<div class="top">
				<h1>Pecha Kucha</h1>
				<div class="chip-list">
					<mat-chip-list>
						<mat-chip color="primary" selected
							>Story Creation</mat-chip
						>
						<mat-chip color="accent" selected>Personal</mat-chip>
						<mat-chip>Assignment</mat-chip>
					</mat-chip-list>
				</div>
			</div>

			<div class="content">
				<p>// TODO</p>
			</div>

			<div class="bottom"></div>
		</div>
	</div>
</main>

<footer></footer>
