<h2 id="assignment">Assignment</h2>
<p>Make a Pecha Kucha in which you answer the following questions:</p>
<ul>
	<li>What is the essence of your subject?</li>
	<li>Why did you choose this subject?</li>
	<li>What do you want to achieve with your story?</li>
</ul>

<h2 id="approach">Approach</h2>
<p>
	To create the present my story with a Pecha Kucha, I was going to create a
	rough setup of the presentation itself. See what topics I want to touch on
	and what I want to tell about the content of the story. After this, I will
	look for imagery to accompany these thoughts within a presentation.
</p>

<h2 id="execution">Execution</h2>
<p>
	I first had a rough idea on the way to communicate the story. From this idea
	I directly started creating the
	<a
		href="https://docs.google.com/presentation/d/1CGZgpKGKw5yLdnd-fmMa6puMDiiSkFYBS8S82z6YxIo/"
		target="_blank"
		>presentation</a
	>
	itself with some notes in there. The imagery continued not too long
	afterwards.
</p>

<iframe
	src="https://docs.google.com/presentation/d/e/2PACX-1vS3xzbHVCO5-_d8AkHIHGWEwUL3yhth3tnOCZFE1DBk0HEUz2sHBMIRq3FJJjhmQUkrbEMSfBVfY10p/embed?start=true&loop=true&delayms=20000"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<h2 id="reflection">Reflection</h2>
<p>
	The presentation went well, the story and idea behind it were conveyed to
	the audience. The only thing I would do different next time is my
	preparation for it. Talking for 20 seconds per slide is a challenge, because
	of both not over- or under-talking the slide.
</p>
<p>
	After the presentation, feedback was all about the story itself: 'How do
	they call themselves?', 'What kind of symbolism is within the story?' and
	'How should the story end, if it does?'. These questions will be answered
	with the <a routerLink="../detoxers">protaganist</a> where the story already
	becomes a bit more solid.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>I created this Pecha Kucha myself.</p>
