<h2 id="assignment">Assignment</h2>
<p>
	To create a concept for my personal project, Woody suggested to mix all of
	the <a routerLink="../concepts">concepts</a> into a single concept.
</p>

<h2 id="approach">Approach</h2>
<p>
	As Woody suggested, I will create a single concept with the most important
	elements of the different <a routerLink="../concepts">concepts</a>. In
	addition, I should look at rewarding people instead of punishing them as
	Woody didn't think punishing would motivate people to use/participate.
</p>

<h2 id="execution">Execution</h2>
<p>
	I started fusing the <a routerLink="../concepts">concepts</a> by creating an
	experience where all these elements come back into. After brainstorming by
	myself a bit on which elements should be included where, I came up with the
	<a
		href="https://docs.google.com/document/d/1hssXNL8A35jt2ZyEGOHANogB5ecX6UNRfCbytPl7xmA/"
		target="_blank"
		>Digital Detox concept</a
	>
	where getting off your phone is the most important thing in the world. You
	simply hand in your phone somewhere, whereafter you earn rewards based on
	how long you do not use your phone. With this as a concept, I started
	working on visualizing this process to firstly make it more clear for me and
	secondly for others on what the concept actually includes and is. This was
	visualized with the
	<a
		href="https://docs.google.com/presentation/d/1SP2a9-WnDmPOr6FBEpOwB_HplmQo-tvqXJkP9HTEg2c/"
		target="_blank"
		>first presentation</a
	>.
</p>

<iframe
	src="https://docs.google.com/presentation/d/e/2PACX-1vSTewz7pPiwd8jXi8mOflPkNETf5sLsnkl9TOr1Q5nOxTnSSy3qZ8XQVF_fnS7txVTv5H1zBaGounQ6/embed?start=true&loop=true&delayms=2000"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<p>
	After showcasing the first 'prototype' through the presentation above, I
	received feedback from the lecturer and multiple students on how to continue
	and what to take a look at. Such feedback was that I should now visualize
	the items, so the locker, badge and kit, more. In addition to this, I should
	also make a logo to be more consistent when creating things around the
	concept itself.
</p>
<p>
	So the next few weeks I was busy with creating a logo and assembling a
	prototype survival bag to hand out when doing the session. While doing this,
	I was also busy with thinking of rewards and badges to hand out to the
	person when completing a session. All of this was presented within the
	<a
		href="https://docs.google.com/presentation/d/1jGxepDJYhte0tHmfsIu7Y4J822_CvxO_-axGwNz2orU/"
		target="_blank"
		>second presentation</a
	>.
</p>

<iframe
	src="https://docs.google.com/presentation/d/e/2PACX-1vShRkY5N5_upU-rOo8NlzZ5eWs0BC4nwCfmMfu-KUlDHdApxhz_OX-D1EtjBRrWNkkvKpCldusYGNbb/embed?start=true&loop=true&delayms=5000"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<p>
	After the second presentation, there were feedback sessions which led to a
	product which was able to be sent out into the world. It can be found
	<a href="https://critical-design.maxaltena.com/" target="_blank">here</a>
	for a better viewing experience.
</p>

<p>
	Within this website, there is a bit of mocking the current usage while it
	tries to activate the reader to start digital detoxing themselves. After all
	the details are given, in regards to why, what rewards are available and the
	process. The more detailed process, through a small comic or storyboard, is
	shown in a comical yet, hopefully, effective manner.
</p>

<iframe
	src="https://critical-design.maxaltena.com/"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<h2 id="reflection">Reflection</h2>
<p>
	Creating a concept from scratch and making an actual proof of concept of it
	was challenging. It was hard at first to think of things or simply imagine
	what this assignment would eventually become. Once the ball started moving,
	the ideas started flowing.
</p>
<p>
	During the project, I got a ton of ideas from fellow students and also from
	Woody himself. This interaction added value to the product in the end, yet I
	think if this semester was more physical, these ideas and this feedback
	would have come more to it's right.
</p>

<h2 id="learning-outcomes">Learning outcomes</h2>
<p>
	Through this project, I learned to create a product not just for me, or to
	solve a problem. I created a product with a much greater impact in that
	sense. I designed it to be provoking to showcase your own usage of media.
	While showcasing this, the user should have an experience which, hopefully,
	pushes them to better themselves in that way.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>I created the Digital Detox concept all by myself.</p>
