<h2 id="toc">Table of Contents</h2>
<ol class="table-of-contents">
	<li>
		<a routerLink="." fragment="motivation">Motivation</a>
	</li>
	<li>
		<a routerLink="." fragment="approach">Approach</a>
	</li>
	<li>
		<a routerLink="." fragment="execution">Execution</a>
	</li>
	<li>
		<a routerLink="." fragment="conclusion">Conclusion</a>
	</li>
	<li>
		<a routerLink="." fragment="reflection">Reflection</a>
	</li>
	<li>
		<a routerLink="." fragment="responsibility">Responsibility</a>
	</li>
</ol>

<mat-divider class="margin-y"></mat-divider>

<h2 id="motivation">Motivation</h2>
<p>
	To gather insights for our new project, we needed to research different
	areas and topics related to or taken out of the context of the project. With
	these insights we can create How Might We questions during the ideation
	phase of the project.
</p>

<h2 id="approach">Approach</h2>
<p>
	As we split out to investigate individually a topic or focus, which we
	discussed with the group. Mine was the 2D print house my dad works at. It is
	one of the largest 2D print houses in the benelux, so with this knowledge, I
	am assuming that they know what they are doing!
</p>

<h2 id="execution">Execution</h2>
<p></p>

<h2 id="conclusion">Conclusion</h2>
<p></p>

<h2 id="reflection">Reflection</h2>
<p></p>

<h2 id="responsibility">Responsibility</h2>
<p></p>
