<h2 id="toc">Table of Contents</h2>
<ol class="table-of-contents">
	<li>
		<a routerLink="." fragment="motivation">Motivation</a>
	</li>
	<li>
		<a routerLink="." fragment="approach">Approach</a>
	</li>
	<li>
		<a routerLink="." fragment="execution">Execution</a>
	</li>
	<li>
		<a routerLink="." fragment="conclusion">Conclusion</a>
	</li>
	<li>
		<a routerLink="." fragment="reflection">Reflection</a>
	</li>
	<li>
		<a routerLink="." fragment="responsibility">Responsibility</a>
	</li>
</ol>

<mat-divider class="margin-y"></mat-divider>

<h2 id="motivation">Motivation</h2>
<p>
	To gather insights for our new project, we needed to research different
	areas and topics related to or taken out of the context of the project. With
	these insights we can create How Might We questions during the ideation
	phase of the project.
</p>

<h2 id="approach">Approach</h2>
<p>
	As we split out to investigate individually a topic or focus, which we
	discussed with the group. Mine was the 2D print house my dad works at. It is
	one of the largest 2D print houses in the benelux, so with this knowledge, I
	am assuming that they know what they are doing!
</p>
<p>
	I made a
	<a
		href="https://docs.google.com/document/d/1TUVHorF0D5zIJLYrDB1We2OixffTg5chlzISSsPQDY4/"
		target="_blank"
		>research document</a
	>
	where I documented the process of the research. Within this is the approach
	of the interview that was conducted.
</p>

<h2 id="execution">Execution</h2>
<p>
	I interviewed my dad one evening. We sat down and I started the 'interview'
	but it felt more as a conversation about his work at the company. Within
	this conversation, all of the desired questions were asked that were written
	down inside of the research document. It felt very natural talking to him
	this way. I think that was because of the amount of times that I have
	already conducted a similar kind of interview.
</p>

<h2 id="conclusion">Conclusion</h2>
<p>
	From this research, I gathered insights that are also relevant for the 3D
	metal printing businesses. Some key insights from the research are the
	following:
</p>
<ul>
	<li>You might not want your customers to see the actual progress</li>
	<li>Standardisation of the process is important</li>
	<li>Planning should be adaptive and up-to-date</li>
	<li>Feedback should be able to be had on planned jobs</li>
	<li>Time for maintenance should not be overlooked</li>
	<li>User friendly from day one is a challenge</li>
</ul>

<h2 id="reflection">Reflection</h2>
<p>
	The technique of interviewing has already been very much in my system as I
	am an ICT & Media Design student. So on that front, I didn't learn too much.
	I did learn a lot of my dad and the processes that are happening at print
	houses. This is good for the project as these insights will help in later
	stages of the project.
</p>

<h2 id="responsibility">Responsibility</h2>
<p>I created the research document and conducted the interview myself.</p>
