<h2 id="motivation">Motivation</h2>
<p>
	In the first 2 weeks of the semester we had an international project with
	the South African school VEGA. This project was done in groups of 4, 2
	people form Fontys and 2 people from VEGA. The main theme around this
	project was global warming.
</p>

<h2 id="execution">Execution</h2>
<p>
	At first, we watched the <code>Before The Flood</code> film to get an idea
	of what climate change is doing to us. After this, we did our research on
	the topic and the film itself. This went quite well, yet one of our
	groupmembers did not contribute much at all. With the
	<a
		href="https://docs.google.com/document/d/1aNTk9F4RZmRjKKyMtXKIXWyQElW1raLndU6IRzFowRs/"
		target="_blank"
		>research</a
	>
	done, we started to work on creating an actual trans-media story, which we
	found very hard at first and did not understand fully.
</p>

<p>
	As the days went on, we started to understand what was expected of us, we
	created a more detailed and, even, transmedia story. The whole story and
	everything that went before it can be found within this
	<a
		href="https://docs.google.com/document/d/1kc4hEOYnDNs5tanw_bN4cArtlraMedQwjNOfydVlGKI/"
		target="_blank"
		>document</a
	>.
</p>

<p>
	At the end of the 2 weeks, we presented our story through a
	<a
		href="https://drive.google.com/file/d/1ms9wW6tSMNEg5uUSy2tiCnkwCIIE8A1X/"
		target="_blank"
		>presentation</a
	>
	we made as a group.
</p>

<h2 id="reflection">Reflection</h2>
<p>
	It was interesting to work with the South-African friends remotely but it
	was a amazing and eventful experience. At the beginning we were all very on
	our own, yet later we got together as a group to put something nice down.
	The group in the end came together as one making jokes about each other.
	Because of load-shedding it was sometimes hard to arranage when we could
	work as group on something. It was fun working with them and we created
	something to be proud of. Only if we would have turned our diesel engine on
	earlier, we would have possibly done even more than we did now.
</p>
