<header></header>

<main>
	<div class="margin-x">
		<div class="container">
			<div class="top">
				<h1>Other</h1>
				<div class="chip-list">
					<mat-chip-list>
						<mat-chip color="primary" selected>Other</mat-chip>
					</mat-chip-list>
				</div>
			</div>

			<div class="content">
				<h2>// TODO</h2>
				<ul>
					<li>
						<a routerLink="/other/vega-collab">VEGA Collab</a>
					</li>
				</ul>

				<h2>About Other</h2>
				<p>
					Well... This section is more for anything that can't be put
					under one of the major subjects.
				</p>
			</div>

			<div class="bottom"></div>
		</div>
	</div>
</main>

<footer></footer>
