<h2 id="assignment">Assignment</h2>
<p>
	To create a concept for my personal project, Woody suggested to mix all of
	the <a routerLink="../concepts">concepts</a> into a single concept.
</p>

<h2 id="approach">Approach</h2>
<p>
	As Woody suggested, I will create a single concept with the most important
	elements of the different <a routerLink="../concepts">concepts</a>. In
	addition, I should look at rewarding people instead of punishing them as
	Woody didn't think punishing would motivate people to use/participate.
</p>

<h2 id="execution">Execution</h2>
<p>
	I started fusing the <a routerLink="../concepts">concepts</a> by creating an
	experience where all these elements come back into. After brainstorming by
	myself a bit on which elements should be included where, I came up with the
	<a
		href="https://docs.google.com/document/d/1hssXNL8A35jt2ZyEGOHANogB5ecX6UNRfCbytPl7xmA/"
		target="_blank"
		>Digital Detox concept</a
	>
	where getting off your phone is the most important thing in the world. You
	simply hand in your phone somewhere, whereafter you earn rewards based on
	how long you do not use your phone. With this assignment
</p>

<iframe
	src="https://docs.google.com/presentation/d/e/2PACX-1vSTewz7pPiwd8jXi8mOflPkNETf5sLsnkl9TOr1Q5nOxTnSSy3qZ8XQVF_fnS7txVTv5H1zBaGounQ6/embed?start=true&loop=true&delayms=1000"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<h2 id="reflection">Reflection</h2>
<p><code>// FUTURE</code></p>

<h2 id="learning-outcomes">Learning outcomes</h2>
<p><code>// FUTURE</code></p>

<h2 id="responsibility">Responsibility</h2>
<p>I created the concept.</p>
