<h2 id="assignment">Assignment</h2>
<p>
	To create a concept for my personal project, Woody suggested to mix all of
	the <a routerLink="../concepts">concepts</a> into a single concept.
</p>

<h2 id="approach">Approach</h2>
<p>
	As Woody suggested, I will create a single concept with the most important
	elements of the different <a routerLink="../concepts">concepts</a>. In
	addition, I should look at rewarding people instead of punishing them as
	Woody didn't think punishing would motivate people to use/participate.
</p>

<h2 id="execution">Execution</h2>
<p>
	I started fusing the <a routerLink="../concepts">concepts</a> by creating an
	experience where all these elements come back into. After brainstorming by
	myself a bit on which elements should be included where, I came up with the
	<a
		href="https://docs.google.com/document/d/1hssXNL8A35jt2ZyEGOHANogB5ecX6UNRfCbytPl7xmA/"
		target="_blank"
		>Digital Detox concept</a
	>
	where getting off your phone is the most important thing in the world. You
	simply hand in your phone somewhere, whereafter you earn rewards based on
	how long you do not use your phone. With this as a concept, I started
	working on visualizing this process to firstly make it more clear for me and
	secondly for others on what the concept actually includes and is. This was
	visualized with the
	<a
		href="https://docs.google.com/presentation/d/1SP2a9-WnDmPOr6FBEpOwB_HplmQo-tvqXJkP9HTEg2c/"
		target="_blank"
		>first presentation</a
	>.
</p>

<iframe
	src="https://docs.google.com/presentation/d/e/2PACX-1vSTewz7pPiwd8jXi8mOflPkNETf5sLsnkl9TOr1Q5nOxTnSSy3qZ8XQVF_fnS7txVTv5H1zBaGounQ6/embed?start=true&loop=true&delayms=2000"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<p>
	After showcasing the first 'prototype' through the presentation above, I
	received feedback from the lecturer and multiple students on how to continue
	and what to take a look at. Such feedback was that I should now visualize
	the items, so the locker, badge and kit, more. In addition to this, I should
	also make a logo to be more consistent when creating things around the
	concept itself.
</p>
<p>
	So the next few weeks I was busy with creating a logo and assembling a
	prototype survival bag to hand out when doing the session. While doing this,
	I was also busy with thinking of rewards and badges to hand out to the
	person when completing a session. All of this was presented within the
	<a
		href="https://docs.google.com/presentation/d/1jGxepDJYhte0tHmfsIu7Y4J822_CvxO_-axGwNz2orU/"
		target="_blank"
		>second presentation</a
	>.
</p>

<iframe
	src="https://docs.google.com/presentation/d/e/2PACX-1vShRkY5N5_upU-rOo8NlzZ5eWs0BC4nwCfmMfu-KUlDHdApxhz_OX-D1EtjBRrWNkkvKpCldusYGNbb/embed?start=true&loop=true&delayms=5000"
	frameborder="0"
	allowfullscreen="true"
	mozallowfullscreen="true"
	webkitallowfullscreen="true"
></iframe>

<h2 id="reflection">Reflection</h2>
<p><code>// FUTURE</code></p>

<h2 id="learning-outcomes">Learning outcomes</h2>
<p><code>// FUTURE</code></p>

<h2 id="responsibility">Responsibility</h2>
<p>I created the Digital Detox concept all by myself.</p>
